body {
    background: #141414;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    color: hsla(0,0%,100%,.6);
    font-family: circeRegular,sans-serif;
}
.grid__container {
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: 70px auto auto;
    grid-template-areas:
        "navbar navbar navbar"
        "main main main"
        "footer footer footer";
    grid-gap: 10px;
}
.header {
    grid-area: navbar;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: bisque;
    width: 100%;
    padding: 10px 0;
    z-index: 4;
}
.header .logo {
    padding-left: 20px;
    text-decoration: none;
    color: #141414;
    font-size: 34px;
}
.menu__in__header {
    display: flex;
    font-size: 24px;
}
.menu__in__header li{
    list-style: none;
    margin-right: 10px;
    padding: 5px 15px;
    border-left: 1px solid black;
}
.menu {
    position: fixed;
    display: flex;
    background: transparent;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 0;
}
.menu label {
    width: 24px;
    height: 5px;
    position: absolute;
    right: 10px;
    top: 15px;
}
.dropDownMenu {
    position: absolute;
    top: 70px;
    display: flex;
    padding-top: 30px;
    font-size: 24px;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    flex-direction: column;
    align-items: flex-start;
}
.dropDownMenu ul {
    margin: 0 auto;
}
.dropDownMenu li a:hover {
    color: cornflowerblue;
}
.dropDownMenu li{
    text-align: center;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 30px;
}
.dropDownMenu ul li a {
    color: black;
    text-decoration: none;
}
.menu__in__header li:first-child {
    border-left: 0;
}
nav ul li a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    transition: all .2s;
    color: cornflowerblue;
}
nav ul li a:active {
    color: lightpink;
}
nav ul li a:visited {
    color: darkorchid;
}
nav > ul{
    margin: 0;
    padding: 0;
}
.like__btn__container {
    width: 50px;
    height: 35px;
    border-radius: 10px;
}
.like__btn__container .like__btn {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    gap: 10px;
}
.hearts__container {
    width: 100%;
    height: 500px;
    position: relative;
    background: lightgrey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.hearts__container button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    height: 35px;
    background: #141414;
    color: hsla(0,0%,100%,.6);
    z-index: 2;
}
.hearts__container img {
    position: absolute;
}
#checkbox_toggle{
    display: none;
}
.hamburger{
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.hamburger-line {
    background-color: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}
.hamburger-line::before, .hamburger-line::after {
    background-color: black;
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .2s;
}
.hamburger-line::before {
    top: 7px;
}
.hamburger-line::after{
    top: -7px;
}
.icon-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: darkorchid;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 50%;
    transition: width .3s;
    top: 0;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button:active {
    background: #cccccc;
}

.icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.main__menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.notification__items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    background: bisque;
    width: 50px;
    height: 0;
    position: absolute;
    visibility: hidden;
    top: 50px;
    transition: width .3s, height .3s .3s;
}
.notification__item {
    border-top: 1px solid #ffffff;
    padding: 5px 15px;
    display:flex;
    justify-content: flex-start;
    gap: 10px;
    color: #000000;
}
.notification__item span:first-child {
    background: darkorchid;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    padding: 0 5px;
}
.notification {
    display:flex;
    width: 50px;
    height: 50px;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    transition: width .3s;
    z-index: 2;
}
.icon-button:hover .notification {
    width: 370px;
}
.icon-button:hover{
    width: 370px;
    justify-content: flex-start;
    padding-left: 20px;
}
.notification:hover .notification__items{
    visibility: visible;
    width: 370px;
    height: 220px;
    border-radius: 0 0 20px 20px;
}
.notification:hover .icon-button {
    width: 370px;
    border-radius: 20px 20px 0 0;
    justify-content: flex-start;
    padding-left: 20px;
}
.notification:hover {
    justify-content: flex-start;
}
.notification__item:hover {
    transform: scale3d(1, 1, 1.5);
    border-radius: 20px;
    background: darkorchid;
    color: #ffffff;
    cursor: pointer;
}
.notification__item:hover span:first-child {
    background: white;
    color: #000000;
    padding: 0 5px;
}
.header .logo {
    padding-left: 20px;
    text-decoration: none;
    color: #141414;
    font-size: 34px;
}
.menu__in__header {
    display: flex;
    font-size: 24px;
}
.menu__in__header li{
    list-style: none;
    margin-right: 10px;
    padding: 5px 15px;
    border-left: 1px solid black;
}
.menu {
    position: fixed;
    display: flex;
    background: transparent;
    visibility: hidden;
    top: 0;
    /*bottom: 0;*/
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 0;
}
.menu label {
    width: 24px;
    height: 5px;
    position: absolute;
    right: 10px;
    top: 15px;
}
.dropDownMenu {
    position: absolute;
    top: 70px;
    display: flex;
    padding-top: 30px;
    font-size: 24px;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    flex-direction: column;
    align-items: flex-start;
}
.dropDownMenu ul {
    margin: 0 auto;
}
.dropDownMenu li a:hover {
    color: cornflowerblue;
}
.dropDownMenu li{
    text-align: center;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 30px;
}
.dropDownMenu ul li a {
    color: black;
    text-decoration: none;
}
.menu__in__header li:first-child {
    border-left: 0;
}
nav ul li a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    transition: all .2s;
    color: cornflowerblue;
}
nav ul li a:active {
    color: lightpink;
}
nav ul li a:visited {
    color: darkorchid;
}
nav > ul{
    margin: 0;
    padding: 0;
}
#checkbox_toggle{
    display: none;
}
.hamburger{
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.hamburger-line {
    background-color: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}
.hamburger-line::before, .hamburger-line::after {
    background-color: black;
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .2s;
}
.hamburger-line::before {
    top: 7px;
}
.hamburger-line::after{
    top: -7px;
}
.icon-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: darkorchid;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 50%;
    transition: width .3s;
    top: 0;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button:active {
    background: #cccccc;
}

.icon-button__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.main__menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.notification__items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    background: bisque;
    width: 50px;
    height: 0;
    position: absolute;
    visibility: hidden;
    top: 50px;
    transition: width .3s, height .3s .3s;
}
.notification__item {
    border-top: 1px solid #ffffff;
    padding: 5px 15px;
    display:flex;
    justify-content: flex-start;
    gap: 10px;
    color: #000000;
}
.notification__item span:first-child {
    background: darkorchid;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    padding: 0 5px;
}
.notification {
    display:flex;
    width: 50px;
    height: 50px;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    transition: width .3s;
    z-index: 2;
}
.icon-button:hover .notification {
    width: 370px;
}
.icon-button:hover{
    width: 370px;
    justify-content: flex-start;
    padding-left: 20px;
}
.notification:hover .notification__items{
    visibility: visible;
    width: 370px;
    height: 220px;
    border-radius: 0 0 20px 20px;
}
.notification:hover .icon-button {
    width: 370px;
    border-radius: 20px 20px 0 0;
    justify-content: flex-start;
    padding-left: 20px;
}
.notification:hover {
    justify-content: flex-start;
}
.notification__item:hover {
    transform: scale3d(1, 1, 1.5);
    border-radius: 20px;
    background: darkorchid;
    color: #ffffff;
    cursor: pointer;
}
.notification__item:hover span:first-child {
    background: white;
    color: #000000;
    padding: 0 5px;
}
a{
    text-decoration: none;
    color: cornflowerblue;
}
.social__btns {
    display: flex;
    align-items: center;
    gap: 30px;
}
.social__btn1, .social__btn2, .social__btn3 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    border: none;
    box-shadow: 0 0 10px #000000, 0 0 20px #000000;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.social__btn1::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    background: linear-gradient(#8E2DE2, #4A00E0);
    width: 100%;
    height: 100%;
    transition: .5s linear;
    z-index: 1;
}
.social__btn1:hover:before {
    bottom: 0;
}
.social__btn2::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    background: linear-gradient(#00B4DB, #0083B0);
    width: 100%;
    height: 100%;
    transition: .5s linear;
    z-index: 1;
}
.social__btn2:hover:before {
    bottom: 0;
}
.social__btn3::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    background: linear-gradient(#ED213A, #93291E);
    width: 100%;
    height: 100%;
    transition: .5s linear;
    z-index: 1;
}
.social__btn3:hover:before {
    bottom: 0;
}
.social__btn1 svg {
    z-index: 2;
}
.social__btn2 svg {
    z-index: 2;
}
.social__btn3 svg {
    z-index: 2;
}
.main {
    position: relative;
    /*border: 1px solid rgba(255, 255, 255, 0.05);*/
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: main;
    align-items: center;
    justify-content: center;
}
.grid__form__container {
    width: 80%;
}
.grid__form__container h2 {
    color: hsla(0,0%,100%,.6);
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
}
.grid__wrapper1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
    grid-template-areas: "box1 box2";
}
.grid__wrapper2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
    grid-template-areas: "box3 box4";
}
.grid__wrapper__textarea {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-bottom: 30px;
}
.grid__wrapper1 .box1{
    width: 100%;
    position: relative;
    padding: 20px;
    grid-area: box1;
}
.grid__wrapper1 .box2{
    width: 100%;
    position: relative;
    padding: 20px;
    grid-area: box2;
}
.grid__wrapper2 .box1{
    width: 100%;
    position: relative;
    padding: 20px;
    grid-area: box3;
}
.grid__wrapper2 .box2{
    width: 100%;
    position: relative;
    padding: 20px;
    grid-area: box4;
}
.grid__wrapper__textarea .box {
    width: 100%;
    position: relative;
    padding: 20px;
}
.grid__wrapper1 .box1 input,
.grid__wrapper1 .box2 input{
    width: 100%;
    font-size: 20px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    transition: .3s linear;
    color: hsla(0,0%,100%,.6);
}
.grid__wrapper1 .box1 input:focus,
.grid__wrapper1 .box2 input:focus,
.grid__wrapper1 .box1 input:valid,
.grid__wrapper1 .box2 input:valid{
    padding: 20px 10px;
    background: rgba(255, 255, 255, 0.05);
    margin-top: 10px;
}
.grid__wrapper1 .box1 label,
.grid__wrapper1 .box2 label{
    position: absolute;
    top: 0;
    left: 0;
    color: hsla(0,0%,100%,.6);
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    transition: .3s linear;
}
.grid__wrapper__textarea .box label {
    position: absolute;
    top: 0;
    left: 0;
    color: hsla(0,0%,100%,.6);
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    transition: .3s linear;
}
.grid__wrapper1 .box1 input:focus ~ label,
.grid__wrapper1 .box2 input:focus ~ label,
.grid__wrapper1 .box1 input:valid ~label,
.grid__wrapper1 .box2 input:valid ~label{
    padding: 0;
}
.grid__wrapper2 .box1 input,
.grid__wrapper2 .box2 input{
    width: 100%;
    font-size: 20px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    transition: .3s linear;
    color: hsla(0,0%,100%,.6);
}
.grid__wrapper2 .box1 input:focus,
.grid__wrapper2 .box2 input:focus,
.grid__wrapper2 .box1 input:valid,
.grid__wrapper2 .box2 input:valid{
    padding: 20px 10px;
    background: rgba(255, 255, 255, 0.05);
    margin-top: 10px;
}
.grid__wrapper2 .box1 label,
.grid__wrapper2 .box2 label{
    position: absolute;
    top: 0;
    left: 0;
    color: hsla(0,0%,100%,.6);
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    transition: .3s linear;
}
.grid__wrapper2 .box1 input:focus ~ label,
.grid__wrapper2 .box2 input:focus ~ label,
.grid__wrapper2 .box1 input:valid ~label,
.grid__wrapper2 .box2 input:valid ~label{
    padding: 0;
}

.grid__wrapper__textarea .box textarea {
    width: 100%;
    font-size: 20px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    transition: .3s linear;
    color: hsla(0,0%,100%,.6);
}
.grid__wrapper__textarea .box textarea:focus,
.grid__wrapper__textarea .box textarea:valid{
    padding: 20px 10px;
    background: rgba(255, 255, 255, 0.05);
    margin-top: 10px;
}
.grid__wrapper__textarea .box textarea:focus ~ label,
.grid__wrapper__textarea .box textarea:valid ~label{
    padding: 0;
}
.grid__form__container input[type="submit"] {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px 30px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    color: hsla(0,0%,100%,.6);
    cursor: pointer;
    position: relative;
    left: 20px;
    margin-bottom: 30px;
}
.footer {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /*border: 1px solid rgba(255, 255, 255, 0.05);*/
    grid-area: footer;
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: -150px;*/
    /*bottom: -10px;*/
}
.footer__container {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.footer__container .about__us {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}
.footer__container  h2 {
    margin: 0;
    padding-top: 10px;
    position: relative;
}
.footer__container h2::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: hsla(0,0%,100%,.6);
}
.footer__container span, p {
    color: hsla(0,0%,100%,.9);
    font-size: 16px;
}
.footer__container .quicklinks {
    position: relative;
}
.footer__container .quicklinks ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    gap: 5px;
}
.footer__container .quicklinks li {
    list-style: none;
}
.footer__container .quicklinks li a {
    color: hsla(0,0%,100%,.9);
    text-decoration: none;
    display: inline-block;
}
.footer__container .quicklinks li a:hover {
    color: hsla(0,0%,100%,.6);
}
.footer__container .contact {
    position: relative;
}
.footer__container .contact .info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    gap: 5px;
}
.footer__container .contact .info li{
    width: 50%;
    overflow-wrap: break-word;
    list-style: none;
}
.footer__container .contact .info li a {
    color: hsla(0,0%,100%,.9);
    text-decoration: none;
    display: inline-block;
}
.footer__container .contact .info li a:hover {
    color: hsla(0,0%,100%,.6);
}
.footer__container .contact .info li p {
    margin: 0;
}
.copyrightText {
    text-align: center;
    background: #333333;
    width: 100%;
}
.copyrightText p {
    color: hsla(0,0%,100%,.6);
}








.cart-container h2{
    margin-bottom: 10px;
    margin-left: 80px;
    width: 100%;
    font-size: 30px;
}
.cart-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.products h3{
    text-align: center;
    width: 100%;
    font-size: 25px;
}
.cart-item{
    position: relative;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.cart-item img{
    height: 200px;
    width: 150px;
    padding: 10px;
}
.cart-item .title{
    font-size: 16px;
}
.count-container{
    display: flex;
    justify-content: space-around;
}
.count-container button{
    cursor: pointer;
    border: none;
    color: white;
    font-size: 18px;
    /*font-size: 16px;*/
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(90, 90, 90);
}
.count-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
}


.recommendations{
    /*background-color: antiquewhite;*/
    margin: 30px auto;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-rec-item{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.container-rec-item img{
    height: 200px;
    width: 150px;
    margin: 0 auto;
}
.total-cost{
    margin-top: 100px;
}
.rec-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.rec-item button{
    cursor: pointer;
    color: white;
    cursor: pointer;
    height: 50px;
    padding: 20px;
    margin: 10px;
    background-color: #333333;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter {
    cursor: pointer;
    color: white;
    cursor: pointer;
    height: 50px;
    padding: 20px;
    margin: 10px;
    background-color: #333333;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sortUp {
    cursor: pointer;
    color: white;
    cursor: pointer;
    height: 50px;
    padding: 20px;
    margin: 10px;
    background-color: #333333;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sortDown {
    cursor: pointer;
    color: white;
    cursor: pointer;
    height: 50px;
    padding: 20px;
    margin: 10px;
    background-color: #333333;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rec-item button:active{
    background-color: rgb(3, 91, 3);
}
.remove-cart-item{
    position: absolute;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: red;
    border: none;
    cursor: pointer;
}
.cart-container{
    display: flex;
    justify-content: center;
}
.cart-submit-container{
    border-radius: 20px;
    min-width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-submit-container h3{
    margin-bottom: 20px;
}
.cart-submit-container .btn-order{
    margin: 10px;
    height: 40px;
    border-radius: 10px;
    width: 200px;
    background-color: #27ae60;
    border: none;
    cursor: pointer;
}
.title{
    font-size: 20px;
    margin-left: 10px;
}
.cart-submit-container .clear-cart{
    background-color: grey;
    height: 40px;
    width: 200px;
    color: white;
    border-radius: 10px;
    border: none;
}















@media screen and (max-width:980px) {
    .menu__in__header {
        display: none
    }
    .menu {
        visibility: visible;
        z-index: 0;
    }
    .main__menu .notification {
        margin-right: 30px;
    }
    #checkbox_toggle:checked ~ .dropDownMenu {
        visibility: visible;
        transition: all .2s ease;
        background: cornsilk;
    }

    #checkbox_toggle:checked ~ .hamburger .hamburger-line {
        background-color: transparent;
    }

    #checkbox_toggle:checked ~ .hamburger .hamburger-line::before {
        transform: rotate(-45deg);
        top: 0;
    }

    #checkbox_toggle:checked ~ .hamburger .hamburger-line::after {
        transform: rotate(45deg);
        top: 0;
    }
    .hamburger {
        display: block;
        padding: 20px 0;
    }
}
@media screen and (max-width: 1001px) {
    .footer .footer__container {
        padding: 0 40px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .footer .footer__container {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 713px) {
    .grid__wrapper1 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "box1"
            "box2";
    }
    .grid__wrapper2 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "box3"
            "box4";
    }
    .
}