@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.menu__in__header {
    display: flex;
    font-size: 24px;
}
.menu__in__header li{
    list-style: none;
    margin-right: 10px;
    padding: 5px 15px;
    border-left: 1px solid black;
}
header .logo {
    padding-left: 20px;
    text-decoration: none;
    color: #141414;
    font-size: 34px;
}
.menu {
    position: fixed;
    display: flex;
    background: transparent;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
}
.menu label {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 15px;
}
.dropDownMenu {
    position: absolute;
    top: 70px;
    display: flex;
    padding-top: 30px;
    font-size: 24px;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    flex-direction: column;
    align-items: flex-start;
}
.dropDownMenu ul {
    margin: 0 auto;
}
.dropDownMenu li a:hover {
    color: cornflowerblue;
}
.dropDownMenu li{
    text-align: center;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 30px;
}
.dropDownMenu ul li a {
    color: black;
    text-decoration: none;
}
.menu__in__header li:first-child {
    border-left: 0;
}
nav ul li a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    transition: all .2s;
    color: cornflowerblue;
}
nav ul li a:active {
    color: lightpink;
}
nav ul li a:visited {
    color: darkorchid;
}
nav > ul{
    margin: 0;
    padding: 0;
}
#checkbox_toggle{
    display: none;
}
.hamburger{
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.hamburger-line {
    background-color: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}
.hamburger-line::before, .hamburger-line::after {
    background-color: black;
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .2s;
}
.hamburger-line::before {
    top: 7px;
}
.hamburger-line::after{
    top: -7px;
}
header {
    background: bisque;
    margin: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
}
body {
    margin: 0;
    width: 100%;
    color: hsla(0,0%,100%,.6);
    background: #141414;
    font-family: circeRegular, sans-serif;
}
html {
    overflow-x: hidden;
}
main {
    padding-top: 100px;
}
form {
    display:flex;
    flex-direction: column;
}
#infoAboutFilm, #additionalOptions, #infoAboutUser, #movieLanguage{
    display: flex;
    flex-direction: column;
}
#infoAboutFilm {
    margin-top: 85px;
}

#submit1, #submit2, #submit3{
    width: 100px;
}
form label{
    margin: 3px 0;
    padding: 3px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-bottom-left-radius: 5px;
}
form *:focus {
    transition: 0.1s;
    margin-left: 3px;
}
fieldset{
    margin: 20px;
    padding: 15px;
    /*background: honeydew;*/
    background: rgba(255, 255, 255, 0.07);
}
form *::placeholder{
    font-style: italic;
    letter-spacing: 0.08em;
    color: cornflowerblue;
}
input{
    border-radius: 5px;
    border-color: slategray;
    background: cornsilk;
    height: 20px;
}
select, textarea{
    border-radius: 5px;
    border-color: slategray;
    background: cornsilk;
    height: 36px;
}
.buttons{
    display: flex;
    margin-left: 50px;
    gap: 20px;
    align-items: end;
    padding-bottom: 30px;
}
/*.buttons button {
    background: cornsilk;
    color: rgb(40, 40, 40);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    height: 30px;
}*/
#frames{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
@media (max-width: 1220px) and (min-width: 980px) {
    .logo {
        width: 300px;
    }
    .menu__in__header {
        font-size: 16px;
    }
    .menu__in__header li{
        margin-right: 0;
        padding: 5px 10px;
    }

}
@media (max-width: 980px){
    .links__to__headers{
        flex-direction: column;
    }
    .menu__in__header{
        display: none
    }
    .menu {
        visibility: visible;
    }
    .main__menu .notification{
        margin-right: 70px;
    }
    #checkbox_toggle:checked ~ .dropDownMenu {
        visibility: visible;
        transition: all .2s ease;
        background: cornsilk;
        /*backdrop-filter: blur(100%);*/
    }
    #checkbox_toggle:checked ~ .hamburger .hamburger-line{
        background-color: transparent;
    }
    #checkbox_toggle:checked ~ .hamburger .hamburger-line::before{
        transform: rotate(-45deg);
        top: 0;
    }
    #checkbox_toggle:checked ~ .hamburger .hamburger-line::after{
        transform: rotate(45deg);
        top: 0;
    }
    .hamburger{
        display: block;
        padding: 20px 0;
    }
}

.main__menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}
iframe{
    width:800px;
    height: 500px;
}