body {
    background: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1, label {
    color: hsla(0,0%,100%,.6)
}
label {
    cursor: pointer;
}
input {
    background: rgba(255, 255, 255, 0.05);
    border: none;
    padding: 15px 5px;
    border-radius: 5px;
    color: hsla(0,0%,100%,.9);
    outline: none;
}
button {
    background: rgba(255, 255, 255, 0.05);
    border: none;
    padding: 15px 5px;
    border-radius: 5px;
    color: hsla(0,0%,100%,.6);
    outline: none;
    cursor: pointer;
}
.randomLettersOrRandomSum {
    display: flex;
    background: rgba(255, 255, 255, 0.05);
    padding: 15px 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    color: hsla(0,0%,100%,.6);
}